spring:
  datasource:
    url: ${DB_URL}
    username: ${DB_USER}
    password: ${DB_PASSWORD}
  jpa:
    hibernate:
      ddl-auto: none
    show-sql: false
  mail:
    host: ${MAIL_HOST:email-smtp.us-east-1.amazonaws.com}
    port: ${MAIL_PORT:587}
    username: ${MAIL_USER}
    password: ${MAIL_PASSWORD}
    properties:
      mail:
        smtp:
          auth: true
          starttls:
            enable: true

cogniq:
  jwt:
    secret: ${JWT_SECRET}
  notification:
    from-email: ${NOTIFICATION_FROM_EMAIL:noreply@cogniq.com}
    from-name: ${NOTIFICATION_FROM_NAME:CogniQ Flow}
